<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/usernavbtn.css">
        <script type="text/javascript" src="../script/usernavbtn.js"> </script>

  </head>
  <body>

    <div class="">
            <div class="buttongroup" id="buttonset">
                <button type="button" id="dropbtn" name="home"> <a href="../Dashboards/staffdash.php" class="linkbutton" target="Pages">Home</a></button>
                <button type="button"  id="dropbtn" name="Report"><a href="../report/staffreportpage.php" class="linkbutton" target="Pages"> Report</a> </button>
                <button type="button"  id="dropbtn" name="Leave"><a href="../leave/leavepage.php" class="linkbutton" target="Pages"> Leave </a></button>


            </div>
    </div>
  </body>
</html>