<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="icon" href="images/bloomfieldlogo.png" sizes="32*32">
        <link rel="stylesheet" href="..\..\style\success.css">

  </head>
  <body>
        <div class="main" >

                    <div class="detailtable">
                      <br><br><h3 id="Error"><b>Before do a new booking,<br>Please make payment for previous <br> restaurant bookings <br> </b> </h3><br>

                    <div class="btn">
                      <a href="..\restaurantbookingui.php"><button type="button" name="button"><b>OK</b> </button></a>
                    </div>


                    </div>

                </div>


  </body>
</html>
