<!DOCTYPE html>
<html lang="en" dir="ltr">
      <head>

            <meta charset="utf-8">
            <title>Bloomfield</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <link rel="stylesheet" href="../style/usernavbtn.css">
            <script type="text/javascript" src="../script/usernavbtn.js"> </script>

      </head>
      <body>

      <div class="">
            <div class="buttongroup" id ="buttonset">
                  <button type="button" class="button" id="dropbtn" name="user"> <a href="../Dashboards/cashierdash.php" target="Pages" class="linkbutton" >Home</a> </button>
                  
                  <button type="button" class="button" id="dropbtn" name="order"><a href="../order/ordertable.php" target="Pages" class="linkbutton"> Order </a></button>
                    
                  <!-- <div class="dropdown-container">
                        <button type="button" class="subbutton" name="Add Order"><a href="../order/add.php" target="Pages" ><b> Add </b></a></button>
                        <button type="button" class="subbutton" name="Update Order"><a href="../order/update.html" target="Pages" ><b> Update </b></a></button>
                        <button type="button" class="subbutton" name="Delete Order"><a href="../order/delete.html" target="Pages" ><b> Delete </b></a></button>
                        <button type="button" class="subbutton" name="Search Order"><a href="../order/search.html" target="Pages"><b> Search </b></a></button>
                  </div> -->

                  <button type="button" class="button" id="dropbtn" name="bill"><a href="../bill/billtable.php" target="Pages" class="linkbutton"> Bill </a></button>

                  <!-- <div class="dropdown-container">
                        <button type="button" class="subbutton" name="Add Bill"><a href="../bill/add.html" target="Pages" ><b> Add </b></a></button>
                        <button type="button" class="subbutton" name="Update Bill"><a href="../bill/update.html" target="Pages" ><b> Update </b></a></button>
                        <button type="button" class="subbutton" name="Search Bill"><a href="../bill/search.html" target="Pages"><b> Search </b></a></button>
                  </div> -->

                  <button type="button" class="button" id="dropbtn" name="items"><a href="../items/itemtable.php" target="Pages" class="linkbutton"> Item </a></button>

                  <!-- <div class="dropdown-container">
                        <button type="button" class="subbutton" name="Add Item"><a href="../items/add.html" target="Pages" ><b> Add </b></a></button>
                        <button type="button" class="subbutton" name="Update Item"><a href="../items/update.html" target="Pages" ><b> Update </b></a></button>
                        <button type="button" class="subbutton" name="Delete Item"><a href="../items/delete.html" target="Pages" ><b> Delete </b></a></button>
                        <button type="button" class="subbutton" name="Search Item"><a href="../items/search.html" target="Pages"><b> Search </b></a></button>
                  </div> -->

                  <button type="button" class="button" id="dropbtn" name="leaves"><a href="../leave/leavetable.php" target="Pages" class="linkbutton"> Leaves </a></button>

                  <!-- <div class="dropdown-container">
                        <button type="button" class="subbutton" name="Add Bill"><a href="../leaves/add.html" target="Pages" ><b> Add </b></a></button>
                        <button type="button" class="subbutton" name="Update Bill"><a href="../leaves/update.html" target="Pages" ><b> Update </b></a></button>
                        <button type="button" class="subbutton" name="Delete Bill"><a href="../leaves/delete.html" target="Pages" ><b> Delete </b></a></button>
                        <button type="button" class="subbutton" name="Search Bill"><a href="../leaves/search.html" target="Pages"><b> Search </b></a></button>
                  </div> -->

                  <button type="button" class="button" id="dropbtn" name="report"><a href="../report/reporttable.php" target="Pages" class="linkbutton"> Reports </a></button>
                  <!-- <div class="dropdown-container">
                        <button type="button" class="subbutton" name="Salary"><a href="#" ><b> Salary </b></a></button>
                        <button type="button" class="subbutton" name="Leave"><a href="#" ><b> Leave </b></a></button>
                  </div> -->

            </div>
      </div>

  </body>
</html>
