<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Order</title>
</head>
<body>
    delete order here
    <form action="../../controller/CRUD.php" method="post">
        <input name ="delete-order" type="hidden" >
        <input name ="Order_ID" id="Order_ID" type="text" placeholder="Enter Order ID" >
        <button type="submit">Delete</button>
    </form>
</body>
</html>