<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="icon" href="images/bloomfieldlogo.png" sizes="32*32">
        <link rel="stylesheet" href="style/adduserforms.css">

  </head>
  <body>
        <div class="main" >
            <form class="adduser" action="index.html" method="post" autocomplete="on" >
              <div class="submain">
                <div class="forminputs">
                    <label for="Name"> Name with initials</label><br>
                    <input type="text" id="Name" name="Name" required>
                </div><br>

                <div class="forminputs">
                    <label for="userid"> Admin Id</label><br>
                    <input type="text" id="userid" name="userid" maxlength="5" required>
                </div><br>

                <div class="forminputs">
                    <label for="username"> User Name</label><br>
                    <input type="text" id="username" name="username"  required>
                </div><br>
                <div class="forminputs">
                    <label for="password"> Password</label><br>
                    <input type="password" id="password" name="password" maxlength="5" required>
                </div><br>

                <div class="forminputs">
                    <label for="joined"> Joined date</label><br>
                    <input type="date" id="joined" name="joined" placeholder="mm/dd/yyyy" required>
                </div><br>

                <div class="forminputs">
                    <label for="Address"> Address</label><br>
                    <input type="text" id="Address" name="Address" placeholder="no, street, city" required>
                </div><br>

                <div class="forminputs">
                    <label for="NIC"> NIC</label><br>
                    <input type="text" id="NIC" name="NIC" required>
                </div><br>

                <div class="forminputs">
                    <label for="contact"> Contact No</label><br>
                    <input type=" tel" id="contact" name="contact" pattern="[0-9]{10}" maxlength="10" required>
                </div><br><br>

                <div class="forminputs">
                  <button type="submit"  class="add" name="button">Add </button>
                  <button type="reset" id="reset" class="add" name="button">Reset</button>
                </div>
              </div>
            </form>
        </div>
  </body>
</html>
