<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="icon" href="images/bloomfieldlogo.png" sizes="32*32">
        <link rel="stylesheet" href="../style/success.css">

  </head>
  <body>
        <div class="main" >

                    <div class="detailtable">

                    <h1><b>Request Approved..!</b> </h1><br>
                    <h3><b>Do you want to send mail ? </b> </h3>

                    <div class="btnstyle2">
                      <a href="mail.php"><button type="button" name="button"><b>Yes</b> </button></a>
                    </div>
                    <div class="btnstyle3">
                      <a href="JoinRequests.php"><button type="button" name="button"><b>No</b> </button></a>
                    </div>


                    </div>

                </div>


  </body>
</html>
