<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="icon" href="images/bloomfieldlogo.png" sizes="32*32">
        <link rel="stylesheet" href="../style/stafftable.css">

  </head>
  <body>
        <div class="main" >
            <div class="coverheader">

              <div class="tableheader">
                    <div class="innerdiv">
                    </div>
                    <h2>Club Member</h2>
              </div>
            </div>
            <div class="covertable">
                <div class="table">
                    <div class="upperbar">
                          <input type="text" name="search" class="search" placeholder="Search..." >
                          <div class="addicon">
                                <a href="..\user\addmember.html" class="add"><button type="button" name="button" class="addbtn"><b>+</b></button></a>
                          </div>
                    </div>
                    <div class="detailtable">
                            <table id="membertable">
                                  <tr class="headerrow">
                                    <th class="Staff_ID">Member ID</th>
                                    <th class="Name">Name with initials</th>
                                    <th class="Position">Type</th>
                                    <th class="Joined_Date">Joined<br>Date</th>
                                    <th class="mail">E-mail</th>
                                    <th class="NIC"> NIC </th>
                                    <th class="Contact_No">Contact<br>No</th>
                                  </tr>
                               <tr>
                                    <td>M0001</td>
                                    <td>S.L.D.S.D.WEERASINGHE</td>
                                    <td>Life Member</td>
                                    <td>2018.09.12</td>
                                    <td>shandilranga61@gmail.com</td>
                                    <td>893084838V</td>
                                    <td>0983838333</td>
                                  </tr>
                            </table>
                    </div>

                </div>

            </div>


        </div>

  </body>
</html>
