<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="icon" href="images/bloomfieldlogo.png" sizes="32*32">
        <link rel="stylesheet" href="../style/adduser.css">

  </head>
  <body>
        <div class="main" >
          <div class="sidepanel">
              <button type="button" class="button"name="button"><a href="updateadmin.html" class="btnlink" target="formpage"> Admin</a></button><br>
              <button type="button" class="button"name="button"><a href="updatemember.html" class="btnlink" target="formpage"> Member</a></button><br>
              <button type="button" class="button"name="button"><a href="updatestaff.html" class="btnlink" target="formpage"> Staff</a></button>
          </div>
          <div class="form">
              <iframe class="forms"name="formpage" title="form pages"></iframe>
          </div>

        </div>

  </body>
</html>
