<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="icon" href="images/bloomfieldlogo.png" sizes="32*32">
        <link rel="stylesheet" href="../style/feedbacktable.css">

  </head>
  <body>
        <div class="main" >

                    <div class="detailtable">
                      <!-- <?php
                          require_once "E:\Se Project\SE-Group42Project-PLUNK\controller\showtable.php";
                          $orderTable = new Table("feedback");
                          $orderTable->show();
                       ?> -->
                      <table>
                        <tr>
                          <th>Feedback<br>ID</th>
                          <th>Feedback</th>
                          <th>Date</th>
                          <th>Member<br>ID</th>
                          <th>Reply</th>
                          <th>Reply person</th>
                          <th>Date</th>
                        </tr>
                        <tr>
                          <td>F0001</td>
                          <td>Practice net was not set properly pitch was damaged too much</td>
                          <td>29/09/2021</td>
                          <td>L0010</td>
                          <td>Thank you for your feedback, I will inform the ground staff </td>
                          <td>Manager</td>
                          <td>29/09/2021</td>
                        </tr>

                      </table>

                    </div>

                </div>


  </body>
</html>
