<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="icon" href="images/bloomfieldlogo.png" sizes="32*32">
        <link rel="stylesheet" href="../style/feedback.css">

  </head>
  <body>
        <div class="main" >
            <div class="coverheader">

              <div class="tableheader">
                    <div class="innerdiv">
                    </div>
                    <h2>Feedback</h2>
              </div>
            </div>
            <div class="covertable">
                <div class="table">
                    <div class="upperbar">
                          <input type="text" name="search" class="search" placeholder="Search..." >

                    </div>
                    <div class="detailtable">

                            <iframe src="..\feedback\feedbacktable.php"  class="staff"></iframe>
                    </div>

                </div>

            </div>

        </div>

  </body>
</html>
