<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1">
        <link rel="stylesheet" href="../style/reply.css">



  </head>
  <body>
    <div class="main">
            <div class="header">
              <div class="upperhead">

              </div>
              <h2>Feedback</h2>

            </div>
            <div class="tablecover">

            </div>
            <div class="replybox">

            </div>

        </div>
    </body>
</html>
