<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="icon" href="images/bloomfieldlogo.png" sizes="32*32">
        <link rel="stylesheet" href="../style/crud.css">
        <script type="text/javascript" src="../script/additem.js"></script>

  </head>
  <body>
    <div class=main>
    <div class= left>
    <div class="form">
        <h2 class="center-text"><b>Add Notifications</b></h2>
        <form action="../../controller/CRUD.php" method="POST">
                <input name ="add-notifications" type="hidden" >
               <div class="t"> <table>
                <tr>
                    <div class="form-group">
                        <td> <label for="Date">Date</label></td>
                        <td><input type="date" id= "Date" name="Date" required class="form-control" placeholder="Enter the Date"/></td>
                    </div>
                </tr>
                <tr><td><br></td></tr>
                <tr>
                    <div class="form-group">
                        <td><label for="EventType">Event Type</label></td>
                        <td><select id="EventType" name="EventType" class="form-control" placeholder="Enter the item type" onchange="changeType(this);">
                            <option selected>Choose type...</option>
                            <option value="Club">Club Event</option>
                            <option value="Restaurant">Restaurant Event</option>
                            </select>
                        </td>
                    </div>
                </tr>
                <tr><td><br></td></tr>
                <tr>
                <div class="form-group">
                    <td><label for="Message">Message</label></td>
                    <td><textarea  id= "Message" name="Message" required class="form-control" placeholder="Enter the message"></textarea></td>
                </div>
                </tr>
            </table>
        </div>
                <div class="form-group">
                    <button type="submit" name="submit" value="Submit" class="button submit">Add</button>
                    <button type="reset" name="reset" value="Reset" class="button reset">Reset</button>
                </div>
        </form>        
    </div>
    </div>
    <div class= right>
        
        <div class="itemtable">
            <h3>NOTIFICATIONS TABLE</h3>
            <iframe src="notificationtable.php" class="item"></iframe>
        </div>
    </div>

</div> 
  </body>

 
</html>
