
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1">
        <link rel="icon" type="icon" href="../images/bloomfieldlogo.png" sizes="32*32">
        <link rel="stylesheet" href="../style/profile.css">



  </head>
  <body>
    <div class="main">
        <div class="profformbox">
          <form class="profform" action="index.html" method="post">
          <div class="imagebox">
            <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;">

            <img id="output" >

          </div><br>
          <div class="forminputs">
            <label for="">Name with initials :</label>
            <input type="text" name="" value="" readonly>
          </div><br>
          <div class="forminputs">
            <label for="">User ID :</label>
            <input type="text" name="" value="" readonly>
          </div><br>
          <div class="forminputs">
            <label for="">User Type :</label>
            <input type="text" name="" value="" readonly>
          </div><br>
          <div class="forminputs">
            <label for="">Joined Date :</label>
            <input type="text" name="" value="" readonly>
          </div><br>
          <div class="forminputs">
            <label for="">Contact No :</label>
            <input type="text" name="" value=""  readonly>
          </div><br>
          <div class="forminputs">
            <label for="">E-mail :</label>
            <input type="text" name="" value="" readonly>
          </div><br>
          <div class="forminputbtn">
            <a href="profileuiedit.html"><button type="button" name="button" class="save"><b>Edit</b></button></a> 
          </div>
          </form>

        </div>

        </div>
    </body>
</html>
