<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1">
        <link rel="icon" type="icon" href="../images/bloomfieldlogo.png" sizes="32*32">
        <link rel="stylesheet" href="../style/Dashboard.css">
        <link rel="stylesheet" href="../style/tableui.css">



  </head>
    <body>
        <div class="main">
          <div class="upper">
            <div class="resbooking2">
              <div class="detailtable">

                <h3>Restaurant Bookings</h3>
                  <iframe src="../bookings/resbooking.php" class="staff"></iframe>
              </div>
            </div>
            <div class="clubbooking2">
              <div class="detailtable">
                <h3>Club Bookings</h3>

                  <iframe src="../bookings/clubbooking.php" class="staff"></iframe>
              </div>
            </div>

          </div>
          <div class="notifichead">
              <h2>Notifications</h2>
          </div>
          <div class="Notifications">
            <div class="detailtable">
              <iframe src="../restaurantmanager/notificationrm.php" class="staff"></iframe>

            </div>

          </div>


        </div>
    </body>
</html>
