<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/usernavbtn.css">
        <script type="text/javascript" src="../script/usernavbtn.js"> </script>

  </head>
  <body>

    <div class="">
        <div class="buttongroup" id="buttonset">
            <button type="button" id="dropbtn" name="user"> <a href="..\Dashboards\Dashboard.html" target="Pages" class="linkbutton" >Home</a> </button>

            <button type="button"  id="dropbtn" name="Booking" > <a href="..\bookings\bookingui.html" target="Pages" class="linkbutton" >Bookings</a></button>

            <button type="button"  id="dropbtn" name="Report"> Report </button>
            <button type="button"   id="dropbtn" name="Leave"> Leave </button>
            <button type="button"  id="dropbtn" name="GRN"><a href="..\grn\givepermission.html" target="Pages" class="linkbutton" >GRN</a> </button>

            <button type="button"  id="dropbtn" name="Feedback"> <a href="..\feedback\reply.html" target="Pages" class="linkbutton" >Feedback</a> </button> <br><br><br><br><br><br>


        </div>
    </div>
  </body>
</html>
