<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/usernavbtn.css">
        <script type="text/javascript" src="../script/usernavbtn.js"> </script>

  </head>
  <body>

    <div class="">
        <div class="buttongroup" id="buttonset">
            <button type="button" id="dropbtn" name="user"> <a href="..\Dashboards\Dashboard.html" target="Pages" class="linkbutton" >Home</a> </button>
            <button type="button" class="button" id="dropbtn" name="user" onclick="drop()"> User </button>
                <div class="dropdown-container">
                      <button type="button" class="subbutton" name="Add User"><a href="../user/adduser.html" target="Pages" onclick=mydash() ><b> Staff </b></a></button>
                      <button type="button" class="subbutton" name="Update User"><a href="#" ><b>Club Member  </b></a></button>

                </div>
            <button type="button" class="button" id="dropbtn" name="Booking" onclick="drop()"> Booking </button>
                <div class="dropdown-container">
                      <button type="button" class="subbutton" name="Add "><a href="#" ><b> Add </b></a></button>
                      <button type="button" class="subbutton" name="Update "><a href="#" ><b>Update </b></a></button>
                      <button type="button" class="subbutton" name="Delete "><a href="#" ><b>Delete </b></a></button>
                </div>
            <button type="button" class="button" id="dropbtn" name="Payment" onclick="drop()"> Payment </button>
                <div class="dropdown-container">
                      <button type="button" class="subbutton" name="Cash"><a href="#" ><b> Cash </b></a></button>
                      <button type="button" class="subbutton" name="Visa"><a href="#" ><b>Visa </b></a></button>
                </div>
            <button type="button"  id="dropbtn" name="Report"> Report </button>
            <button type="button"   id="dropbtn" name="Leave"> Leave </button>
            <button type="button" class="button" id="dropbtn" name="GRN" onclick="drop()"> GRN </button>
                <div class="dropdown-container">
                      <button type="button" class="subbutton" name="Add User"><a href="#" ><b> Add </b></a></button>
                      <button type="button" class="subbutton" name="Update User"><a href="#" ><b> Return </b></a></button>
                </div>
            <button type="button"  id="dropbtn" name="Forum"> Forum </button> <br><br><br><br><br><br>


        </div>
    </div>
  </body>
</html>
