<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/usernavbtn.css">
        <script type="text/javascript" src="../script/usernavbtn.js"> </script>
        <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

  </head>
  <body>

    <div class="">
        <div class="buttongroup" id="buttonset">
            <button type="button" id="dropbtn" name="user"> <a href="..\Dashboards\Dashboard.html" target="Pages" class="linkbutton" >
              <box-icon name='home-alt-2' type='solid' animation='tada' color='#ffffff' ></box-icon>&nbsp;Home<span class="tooltiptext">Go to the home page</span></a></button>

             <button type="button" class="button" id="dropbtn" name="Booking" onclick="drop()"> Bookings</button><!-- <a href="..\bookings\bookingui.html" target="Pages" class="linkbutton" >Bookings</a> -->
            <div class="dropdown-container">

                  <button type="button" class="subbutton"  name="Restaurant"><a href="..\bookings\restaurantbookingui.php" target="Pages" ><b> Restaurant  </b></a></button>
                  <button type="button" class="subbutton" name="Club"><a href="..\bookings\clubbookingui.php" target="Pages" ><b> Club & Cricket  </b></a></button>

            </div>

            <button type="button"  id="dropbtn" name="Report"> <a href="..\report\reportpage.php" target="Pages" class="linkbutton"> Report </a> </button>
            <button type="button"   id="dropbtn" name="Leave"><a href="..\leave\leavepage.php" target="Pages" class="linkbutton">Leave</a>  </button>
            <button type="button"  id="dropbtn" name="GRN"><a href="..\grn\givepermission.html" target="Pages" class="linkbutton" >Return GRN</a> </button>

            <button type="button"  id="dropbtn" name="Feedback"> <a href="..\feedback\reply.php" target="Pages" class="linkbutton" >Feedback</a> </button>
            <button type="button"  id="dropbtn" name="Holidays"> <a href="..\bookings\addholidays.php" target="Pages" class="linkbutton" >Holidays</a> </button> <br><br><br><br><br><br>


        </div>
    </div>
  </body>
</html>
