<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/usernavbtn.css">
        <script type="text/javascript" src="../script/usernavbtn.js"> </script>

  </head>
  <body>

    <div class="">
            <div class="buttongroup" id="buttonset">
                <button type="button" id="dropbtn" name="user"> <a href="..\Dashboards\accountdash.html" target="Pages"  class="linkbutton" >Home</a> </button>
                <button type="button" id="dropbtn" name="Invoice"> <a href= "..\invoice\invoice.html" class="linkbutton" target="Pages" ><b>Invoice</b></a></button>
                <button type="button" id="dropbtn" name="Payment"> <a href="#" class="linkbutton" target="Pages">Payment</a></button>
                <button type="button" id="dropbtn" name="Salary"> <a href="..\salary\salarypage.html" class="linkbutton" target="Pages"><b>Salary</b></a></button>
                <button type="button" id="dropbtn" name="ServiceCharge"><a href="#" class="linkbutton" target="Pages">Service Charge </a></button>
                <button type="button" id="dropbtn" name="Report"><a href="..\report\reportpage.html" class="linkbutton" target="Pages"><b>Report</b></a> </button>
                <button type="button" id="dropbtn" name="Leave"><a href="..\leave\leavepage.html" class="linkbutton" target="Pages"><b>Leave</b></a></button>


            </div>
    </div>
  </body>
</html>