<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/usernavbtn.css">
        <script type="text/javascript" src="../script/usernavbtn.js"> </script>

  </head>
  <body>

    <div class="">
        <div class="buttongroup" id="buttonset">
            <button type="button" id="dropbtn" name="user"> <a href="#"  class="linkbutton" >Home</a> </button>
            
            <button type="button" class="button" id="dropbtn" name="Invoice" onclick="drop()"> Invoice </button>
                <div class="dropdown-container">
                      <button type="button" class="subbutton" name="Add "><a href="../invoice/add.html" target="Pages" ><b> Add </b></a></button>
                      <button type="button" class="subbutton" name="Update "><a href="#" ></a><b>Update </b></a></button>
                      <button type="button" class="subbutton" name="Delete "><a href="../invoice/delete.html" target="Pages" ><b> Delete </b></a></button>
                      <button type="button" class="subbutton" name="Search "><a href="#" ><b>Search </b></a></button>
                </div>
            
            <button type="button"  id="dropbtn" name="Payment"> Payment </button>
            <button type="button"  id="dropbtn" name="Report"> Report </button>
            <button type="button"   id="dropbtn" name="Salary"> Salary </button>
            <button type="button"  id="dropbtn" name="Service Charge"> Service Charge </button> <br><br><br><br><br><br>


        </div>
    </div>
  </body>
</html>