<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/usernavbtn.css">
        <script type="text/javascript" src="../script/usernavbtn.js"> </script>

  </head>
  <body>

    <div class="">
            <div class="buttongroup" id="buttonset">
                <button type="button" id="dropbtn" name="user"> <a href="..\Dashboards\accountdash.php" target="Pages"  class="linkbutton" >Home</a> </button>
                <button type="button" id="dropbtn" name="Invoice"> <a href= "..\invoice\invoicetable.php" class="linkbutton" target="Pages" ><b>Invoice</b></a></button>
                <button type="button" id="dropbtn" name="Payment"> <a href="..\payment\paymentpage.php" class="linkbutton" target="Pages"><b>Payment</b></a></button>
                <button type="button" id="dropbtn" name="Salary"> <a href="..\salary\salarytable.php" class="linkbutton" target="Pages"><b>Salary</b></a></button>
                <button type="button" id="dropbtn" name="ServiceCharge"><a href="..\servicecharge\servicetable.php" class="linkbutton" target="Pages"><b>Service Charge</b></a></button>
                <button type="button" id="dropbtn" name="Report"><a href="../report/reportpage.php" class="linkbutton" target="Pages"><b>Report</b></a> </button>
                <button type="button" id="dropbtn" name="Leave"><a href="..\leave\leavepage.php" class="linkbutton" target="Pages"><b>Leave</b></a></button>
            

            </div>
    </div>
  </body>
</html>