<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/usernavbtn.css">
        <script type="text/javascript" src="../script/usernavbtn.js"> </script>
        <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

  </head>
  <body>

    <div class="">
            <div class="buttongroup" id="buttonset">
                <button type="button" id="dropbtn" name="home"> <a href="../Dashboards/accountdash.php" class="linkbutton" target="Pages">
                  <box-icon name='home-alt-2' type='solid' animation='tada' color='#ffffff' ></box-icon>&nbsp;Home<span class="tooltiptext">Go to the home page</span></a></button>
                <button type="button" id="dropbtn" name="Invoice"> <a href="../invoice/invoicetable.php" class="linkbutton" target="Pages">
                  <box-icon name='edit' type='solid' animation='tada' flip='horizontal' color='#ffffff' ></box-icon>&nbsp;Invoice<span class="tooltiptext">See the invoice details</span></a></button>
                <button type="button" id="dropbtn" name="Distributorlist"> <a href="..\company\companydash.php" class="linkbutton" target="Pages">
                  <box-icon name='notepad' type='solid' animation='tada' flip='horizontal' color='#ffffff' ></box-icon>&nbsp;Distributor List<span class="tooltiptext">See the company details</span></a></button>
                <!-- <button type="button" id="dropbtn" name="Payment"> <a href="../payment/paymentpage.php" class="linkbutton" target="Pages">
                  <box-icon name='credit-card' type='solid' animation='tada' flip='horizontal' color='#ffffff' ></box-icon>&nbsp;Payment<span class="tooltiptext">See the payment details</span></a></button> -->
                  <button type="button" class="button" id="dropbtn" name="Booking" onclick="drop()"> <a class="linkbutton">
                    <box-icon name='credit-card' type='solid' animation='tada' color='#ffffff' ></box-icon>&nbsp;Payments<span class="tooltiptext">See the booking details</span></a></button><!-- <a href="..\bookings\bookingui.html" target="Pages" class="linkbutton" >Bookings</a> -->
                  <div class="dropdown-container">
      
                        <button type="button" class="subbutton"  name="Restaurant"><a href="..\bookings\restaurantbookingui.php" target="Pages" ><b>
                          <box-icon name='restaurant' animation='tada' color='#ffffff' ></box-icon>&nbsp; Restaurant  </b></a></button>
                        <button type="button" class="subbutton" name="Club"><a href="..\bookings\clubbookingui.php" target="Pages" ><b> 
                          <box-icon name='cricket-ball' type='solid' animation='tada' color='#ffffff' ></box-icon>&nbsp;Club & Cricket  </b></a></button>
      
                  </div>
                <button type="button" id="dropbtn" name="Staffpayments"> <a href="../staffpayments/detailform.php" class="linkbutton" target="Pages">
                  <box-icon name='group' type='solid' animation='tada' color='#ffffff' ></box-icon>&nbsp;Staff Payments<span class="tooltiptext">See the salary details for each staff category</span></a></button>
                <button type="button" id="dropbtn" name="Salarydetails"> <a href="../basicdetails/detailform.php" class="linkbutton" target="Pages">
                  <box-icon name='user-detail' type='solid' animation='tada' color='#ffffff' ></box-icon>&nbsp;Staff List<span class="tooltiptext">See the basic salary details of each staff member</span></a></button>
                <button type="button" id="dropbtn" name="Salary"> <a href="../salary/salarytable.php" class="linkbutton" target="Pages">
                  <box-icon name='wallet' type='solid' animation='tada' color='#ffffff' ></box-icon>&nbsp;Salary<span class="tooltiptext">See the salary details</span></a></button>
                <button type="button"  id="dropbtn" name="ServiceCharge"><a href="../servicecharge/servicetable.php" class="linkbutton" target="Pages">
                  <box-icon name='money' animation='tada' color='#ffffff' ></box-icon>&nbsp;Service Charge<span class="tooltiptext">See the service charge details</span></a></button>
                <button type="button"  id="dropbtn" name="Report"><a href="../report/reportpage.php" class="linkbutton" target="Pages">
                  <box-icon name='report' type='solid' animation='tada' flip='horizontal' color='#ffffff' ></box-icon> &nbsp;Report<span class="tooltiptext">Generate reports</span></a> </button>
                <button type="button"  id="dropbtn" name="Leave"><a href="../leave/leavepage.php" class="linkbutton" target="Pages">
                  <box-icon name='envelope' type='solid' animation='tada' color='#ffffff' ></box-icon> &nbsp;Leave <span class="tooltiptext">See the leave details</span></a></button>


            </div>
    </div>
  </body>
</html>
