<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/usernavbtn.css">
        <script type="text/javascript" src="../script/usernavbtn.js"> </script>

  </head>
  <body>

    <div class="">


            <div class="buttongroup" id="buttonset">
                <button type="button" id="dropbtn" name="user"> <a href="..\Dashboards\admindash.html" target="Pages"  class="linkbutton" >Home</a> </button>

                <button type="button" class="button" id="dropbtn" name="user" onclick="drop()"> User </button>
                    <div class="dropdown-container">
                          <button type="button" class="subbutton" name="Add User"><a href="..\user\stafftable.html" target="Pages" ><b> Staff  </b></a></button>
                          <button type="button" class="subbutton" name="Update User"><a href="../user/updateuser.html" target="Pages"><b>Club Member  </b></a></button>
                    </div>

                <button type="button"  id="dropbtn" name="Forum"> Forum </button> <br><br><br><br><br><br>


            </div>
    </div>
  </body>
</html>
