<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="icon" href="images/bloomfieldlogo.png" sizes="32*32">
    <link rel="stylesheet" href="../style/crud.css">
    <script type="text/javascript" src="#"></script>
    <title>Bloomfield</title>
</head>
<body>
    <div class="form">
        <h2 class="center-text"><b>Delete Invoice</b></h2>
        <form action="../../controller/CRUD.php" method="post">
            <input name ="delete-invoice" type="hidden" >
            <div class="form-group">
                <label for="Invoice_ID">Invoice ID</label>
                <input name ="Invoice_ID" id="Invoice_ID" type="text" placeholder="Enter Invoice ID" >
            </div>
            <button type="submit" class="button">Delete</button>
        </form>
    </div>
</body>
</html>