<!DOCTYPE html> 
<html> 
<head> 
<script type="text/javascript"> 
function addRow() {         
    var myName = document.getElementById("name"); 
    var age = document.getElementById("age"); 
    var table = document.getElementById("myTableData"); 
    var rowCount = table.rows.length; 
var row = table.insertRow(rowCount); 
    row.insertCell(0).innerHTML= '<input type="button" value = "Delete" onClick="Javacsript:deleteRow(this)">'; 
    row.insertCell(1).innerHTML= myName.value; 
    row.insertCell(2).innerHTML= age.value; 
} 
 
function deleteRow(obj) {     
    var index = obj.parentNode.parentNode.rowIndex; 
    var table = document.getElementById("myTableData"); 
    table.deleteRow(index);    
} 
 
</script> 
    <title>HTML dynamic table using JavaScript</title> 
</head> 
<body onload="load()"> 
<div id="myform"> 
<b>Simple form with name and age ...</b> 
<br/><br/> 
        Name:<input type=text id="name"> 
<br/><br/> 
        Age :&nbsp; 
        <input type=number id="age"> 
<br/> 
        <input type="submit" id="add" value="Add" onclick="addRow()"> 
</div> 
<br/><br/> 
<div id="mydata"> 
<b>Current data in the system ...</b> 
<table id="myTableData"  border="1" cellpadding="2"> 
    <tr> 
        <td>&nbsp;</td> 
        <td><b>Name</b></td> 
        <td><b>Age</b></td> 
    </tr> 
</table> 
&nbsp; 
  
</div> 
</body> 
</html> 