<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="icon" href="images/bloomfieldlogo.png" sizes="32*32">
    <link rel="stylesheet" href="../style/crud.css">
    <script type="text/javascript" src="#"></script>
    <title>Bloomfield</title>
</head>
<body>
    <div class="form">
        <h2 class="center-text"><b>Update Invoice</b></h2>
        <form action="../../controller/CRUD.php" method="post">
            <input name ="update-invoice" type="hidden" >
            <div class="form-group">
                <label for="Inoive_ID">Invoice ID</label>
                <input name ="Invoice_ID" id="Invoice_ID" type="text" placeholder="Enter Invoice ID" >
            </div>
            <div class="form-group">
                <label for="Column">Column</label>
                <select id="Column" name="Column" class="form-control" onchange="changeType(this);">
                    <option value="Value">Value</option>
                    <option value="Company_Name">Company Name</option>
                    <option value="Content">Content</option>
                    <option value="Received_Date">Received Date</option>
                    <option value="Due_Date">Due Date</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Edit Value">Edit Value</label>
                <input name ="Edit Value" id="Edit Value" type="text" placeholder="Enter Edit Value" >
            </div>
            <button type="submit" class="button">Update</button>
        </form>
    </div>
    
</body>
</html>