<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="icon" href="images/bloomfieldlogo.png" sizes="32*32">
        <link rel="stylesheet" href="../style/additem.css">
        <script type="text/javascript" src="../script/additem.js"></script>

  </head>
  <body>
    
    <div class="form">
        <h2 class="center-text"><b>Add item</b></h2>
        <form action="../../controller/items/additems.php" method="POST">
                <div class="form-group">
                <label for="userid">Item Id</label>
                <input type="text" name="ItemID" required class="form-control" placeholder="Enter the item ID"/>
                </div>
               
                <div class="form-group">
                    <label for="itemname">Item Name</label>
                    <input type="text" name="name" required class="form-control" placeholder="Enter the item name"/>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" name="price" required class="form-control" placeholder="Enter the price"/>
                </div>
                <div class="form-group">
                    <label for="discount">Discount</label>
                    <input type="number" name="discount" required class="form-control" placeholder="Enter the discount"/>
                </div>
                <div class="form-group">
                <label for="type">Availability</label>
                <select id="available" name="type" class="form-control" onchange="changeType(this);">
                    <option value="available">Yes</option>
                    <option value="Notavailable">No</option>
                </select>
                </div>
                <div class="form-group">
                    <label for="discount">Quantity</label>
                    <input type="number" name="Quantity" required class="form-control" placeholder="Enter the Quantity"/>
                </div>
                <div class="form-group">
                    <label for="type">Item Type</label>
                    <select id="type" name="type" class="form-control" placeholder="Enter the item type" onchange="changeType(this);">
                    <option selected>Choose type...</option>
                        <option value="kitchenitems">Kitchen Items</option>
                        <option value="beverageitems">Beverage Items</option>
                     </select>
                </div>
                <div id="kitchenitems">
                    <div class="form-group">
                        <label for="category">Category</label>
                        <input type="text" name="category" class="form-control" placeholder="Enter the category"/>
                    </div>
                    <div class="form-group">
                        <label for="portion">Portion</label>
                        <input type="text" name="portion" class="form-control" placeholder="Enter the portion"/>
                    </div>
                </div>
                <div id="beverageitems">
                    <div class="form-group">
                        <label for="volume">Volume</label>
                        <input type="number" name="volume" class="form-control" placeholder="Enter the volume"/>
                    </div>
                    <div class="form-group">
                        <label for="companyname">Company Name</label>
                        <input type="text" name="companyname" class="form-control" placeholder="Enter the company name"/>
                    </div>
                    <div class="form-group">
                        <label for="reorder">Reorder Quantity</label>
                        <input type="number" name="reorder" class="form-control" placeholder="Enter the reorder quantity"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="staffid">Staff ID</label>
                    <input type="text" name="staffid" required class="form-control" placeholder="Enter the staff id"/>
                </div>
                <div>
                    <button type="submit" name="submit" value="Submit" class="button submit">Add</button>
                    <button type="reset" name="reset" value="Reset" class="button reset">Reset</button>
                </div>
            </form>        
        </div>

        <form action = "../../controller/items/kitchentable.php">
        </form>
  </body>

 
</html>