<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="icon" href="images/bloomfieldlogo.png" sizes="32*32">
        <link rel="stylesheet" href="../style/crud.css">
        <script type="text/javascript" src="../script/additem.js"></script>

  </head>
  <body>
    
    <div class="form">
        <h2 class="center-text"><b>Add item</b></h2>
        <form action="../../controller/CRUD.php" method="POST">
                <input name ="add-item" type="hidden" >
                <div class="form-group">
                    <label for="ItemName">Item Name</label>
                    <input type="text" id= "ItemName" name="ItemName" required class="form-control" placeholder="Enter the item name"/>
                </div>
                <div class="form-group">
                    <label for="Price">Price</label>
                    <input type="number" id="Price" name="Price" required class="form-control" placeholder="Enter the price"/>
                </div>
                <div class="form-group">
                    <label for="Discount">Discount</label>
                    <input type="number" id="Discount" name="Discount" required class="form-control" placeholder="Enter the discount"/>
                </div>
                <div class="form-group">
                <label for="isavailable">Availability</label>
                <select id="isavailable" name="type" class="form-control" onchange="changeType(this);">
                    <option value="available">Yes</option>
                    <option value="Notavailable">No</option>
                </select>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" id= "quantity "name="Quantity" required class="form-control" placeholder="Enter the Quantity"/>
                </div>
                <div class="form-group">
                    <label for="itemtype">Item Type</label>
                    <select id="itemtype" name="itemtype" class="form-control" placeholder="Enter the item type" onchange="changeType(this);">
                    <option selected>Choose type...</option>
                        <option value="fooditems">Food Items</option>
                        <option value="beverageitems">Beverage Items</option>
                     </select>
                </div>
                 <div class="form-group">
                        <label for="reorder">Reorder Quantity</label>
                        <input type="number" id ="reorder" name="reorder" class="form-control" placeholder="Enter the reorder quantity"/>
                    </div>
                <div class="form-group">
                    <button type="submit" name="submit" value="Submit" class="button submit">Add</button>
                    <button type="reset" name="reset" value="Reset" class="button reset">Reset</button>
                </div>
        </form>        
    </div>
     
  </body>

 
</html>
