<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="icon" href="images/bloomfieldlogo.png" sizes="32*32">
    <link rel="stylesheet" href="../style/crud.css">
    <script type="text/javascript" src="#"></script>
    <title>Bloomfield</title>
</head>
<body>
    <div class="form">
        <h2 class="center-text"><b>Update Order</b></h2>
        <form action="../../controller/CRUD.php" method="post">
            <input name ="update-order" type="hidden" >
            <div class="form-group">
                <label for="Order_ID">Order ID</label>
                <input name ="Order_ID" id="Order_ID" type="text" placeholder="Enter Order ID" >
            </div>
            <div class="form-group">
                <label for="Column">Column</label>
                <select id="Column" name="Column" class="form-control" onchange="changeType(this);">
                    <option value="Order_Place">Order Place</option>
                    <option value="Quantity">Quantity</option>
                    <option value="Member_ID">Member ID</option>
                    <option value="Staff_ID">Staff ID</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Value">Value</label>
                <input name ="Value" id="Value" type="text" placeholder="Enter Value" >
            </div>
            <button type="submit" class="button">Update</button>
        </form>
    </div>
    
</body>
</html>