::-webkit-input-placeholder{
    color: gray;
}
.body{
    background-image:url(../images/cricket.png), linear-gradient(to bottom right, #3e9157 ,#03a191 0.5%, #03ae60);

  }
  .main{
      
      height:100%;
      width:100%;
  }
    
  
  .left{
    float: left;

    width:50%;
    height:100%;
    border: 2px;
    border-radius: 20px;
    border-color:white;
}
.right{
    margin-top:0%;
    float: right;
    width:50%;
    height: 100%;
    border: 2px;
    
    border-color:white;
    align-content: center;
}
.righttop{
    width:100%;
    height: 40%;     
}

.rightbottom{
    margin-top: 5%;
    width:100%;
    height: 40%;     
}

.itemtable{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    
    background-color: #017a7a;
}
h4{
    font-size: 2vw;
    font-family: sans-serif;
    text-align: center;
    margin: none;
    padding: none;
    color: #ffffff;
    padding-top: 4%;
    padding-bottom: 0%;
      
}
h3{
    font-size: 2.5vw;
    font-family: sans-serif;
    text-align: center;
    margin: none;
    padding: none;
    color: #ffffff;
    padding-top: 9%;
  
  }
.item{
    width: 100%;
    height:100%;
}
.form{
    font-family: sans-serif;
    font-size: 1.5vw;
    display: block;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: rgb(300, 300, 300);
    max-width: 500px;
    height: auto;
    padding: 35px;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: auto;
}

.form-group{
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
.formtable{
    margin-left: auto;
    margin-right: auto;
    display:block;
    width: 100%;
}
.center-text{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    font-size: 2.5vw;
  }

/*.form-group{

}*/

.form-control{
    font-size: 1.5vw;
    width:100%;
}
.form-control i {
	visibility: hidden;
	position: absolute;
	top: 10px;
	right: 5px;

}



.form-control small {

	position: absolute;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.label{
    display: block;
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: left;


 }

.input{

    outline: 0;

    width: 100%;
    border: 0;
    border-color:transparent;
    margin: 5% 0% 5%;
    font-size: 1.5vw;
    color: black;


}

.button{
    border-radius: 20px;
    font-size: 1.5vw;
    width: 130px;
    height:40px;
    border:0px;
    color: white;
    cursor: pointer;
    margin-top:5%;
    margin-left:10%;
    background-color: #017a7a;
    opacity: 0.8;

  }

button:hover{
    opacity:1;
}
a{
    color: white;
    text-decoration: none;
  }
