html, body{
  height: 100%;
  width:100%;
  margin: auto;
  background-color: transparent;

}
.main{
  width:100%;
  height: 100%;
  font-family: sans-serif;
  /*background-color: red;*/

}
.upper{
  width: 100%;
  height: 45%;
  padding-top: 15px;
  /*background-color: blue;*/
}
.resbooking{
  width: 30%;
  height: 95%;
  float:left;
  margin-left: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #017a7a;
 /*background-color: red;*/
}
.clubbooking{
  width: 35%;
  height: 95%;
  float:left;
  margin-left: 1%;
  border-width: 2px;
  border-style: solid;
  border-color: #017a7a;
/*background-color: green;*/
}
.reorder{
  width: 35%;
  height: 95%;
  float:left;
  margin-left: 1%;
  border-width: 2px;
  border-style: solid;
  border-color: #017a7a;
}
.calendar{
  width: 30%;
  height: 95%;
  float: right;
  margin-right: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #017a7a;
/* background-color: red;*/
}
.bloomcal{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  height: 100%;

}
.Notifications{
  width: 98%;
  height: 40%;
  margin-left: 0%;
  margin-right: 0%;
  display: block;
  border-width: 2px;
  border-style: solid;
  border-color: #017a7a;
 /*background-color: orange;*/
}
.notifictable{
  width: 100%;
  height: 83%;
  margin-top: 0.25%;
  
}
.notifichead{
  width: 100%;
  height: 6%;
}
h2{
  font-size: 2vw;
  text-align: center !important;
  margin: none;
  padding: none;
  color: #017a7a;


}
h3{
  font-size: 1.5vw;
  text-align: center;
  margin: none;
  padding: none;
  color: #017a7a;
  margin-top: 0.5%;
  margin-bottom: 0%;

}

/*Admin Dashboard*/
.Feedback{
  width: 65%;
  height: 95%;
  float:left;
  margin-left: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #017a7a;
}

/*Cashier Dashboard*/
.Table{
  width: 65%;
  height: 95%;
  float:left;
  margin-left: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #017a7a;
}

/*Club Member Dashboard*/
.resbooking{
  width: 32.5%;
  height: 95%;
  float:left;
  margin-left: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #017a7a;
}

.clubbooking{
  width: 32.5%;
  height: 95%;
  float:left;
  margin-left: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #017a7a;
}

/*Restaurant Manager Dashboard*/
.resbooking{
  width: 32.5%;
  height: 95%;
  float:left;
  margin-left: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #017a7a;
}

.reorder{
  width: 32.5%;
  height: 95%;
  float:left;
  margin-left: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #017a7a;
}

/*Accountant Dashboard*/
.Invoice{
  width: 65%;
  height: 95%;
  float:left;
  margin-left: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #017a7a;
}

/*Staff Member Dashboard*/
.restbooking{
  width: 32.5%;
  height: 95%;
  float:left;
  margin-left: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #017a7a;
}

.clubooking{
  width: 32.5%;
  height: 95%;
  float:left;
  margin-left: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #017a7a;
}


/*End */