html, body{
  height: 95%;
  width:100%;
  margin: auto;
}
.main{
  width:100%;
  height: 100%;
  font-family: sans-serif;
    /* background-color: red; */
}

.middle2{
  width:100%;
  height: 95%;
  /* background-color: yellow; */
  /* background-color: #dcdcdc; */
}
/* FOR approve php */
.middle3{
  width:100%;
  height: 100%;
}
/* end */
a{
  text-decoration: none;
  color:black;
}
.btnlink{
  color: rgb(240, 230, 230);
}
/* .btnlink:hover{
  color:#0b7fab;
} */

 .mainpage3{ /*for decision page */
   height: 100%;
   margin: none;
   padding: none;
   transition: 0.5s;
   border: none;
  /* background-color: green; */
}
.formbox{
  width: 30%;
  height: 85%;
  background-color: white;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: block;
  font-size: 1.5vw;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}
/* for APPROVE PHP */
.formbox2{
  float: left;
  width: 30%;
  height: auto;
  background-color: white;
  border-radius: 20px;
  margin-left: 15%;
  margin-right: auto;
  margin-top: 50px;
  display: block;
  font-size: 1.5vw;
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
}
.ids{
  width: 25%;
  height: auto;
  float: right;
  margin-top: 30px;
  margin-right: 15%;
  border-width: 2px;
  border-radius: 20px;
  border-style: solid;
  border-color: white;
  background-color:white;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}
.idtitle{
  text-align: center;
}
table{
  border: none;
}
th{
  font-size: 1.3vw;
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  border-color: #0b7fab;
  background-color: white;
  text-align: center;
}
th:first-child,td:first-child{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
th:last-child,td:last-child{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
td{
  font-size: 1.2vw;
  border-collapse: collapse;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #0b7fab;
  text-align: center;
}
.detail{
  color: red;
  font-size: 0.9vw;
  text-align: left;
}
/* END */
.input{
  width: 95%;
  font-size: 1.3vw;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 2px;
  border-color: black;
}
.forminputs{
  width: 100%;
  height: 70px;
/* background-color: yellow; */


}
.radio{

  width: 100%;
  height: 70px;
  /* background-color: red; */

}
.UserType{
  width: 90%;
  font-size: 1.2vw;
}
.formbtn{
  width: 50%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* background-color: yellow; */
}
.add{
  background-color: #0b7fab;
  width: 45%;
  height:auto;
  border-radius: 50px;
  color: rgb(240, 230, 230);
  font-size: 1.5vw;
  transition-duration: 1s;
}
.add:hover{
  background-color: #474747;

/* .imagebox{
  float:right;
   background-color: yellow; */
}
/* #output{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color:#0b7fab;
} */

@media only screen and (max-width:720px) {
      .header{
        height: 10%;
      }
      .middle{
        height: 92%;
      }
      .menudiv{
        width: 30%;
        height: 45%;
      }
      h2{
        margin-top:7%;
      }
      .Logo{
        width: 60%;
      }
      .logout{
        height: 20%;
        width: 60%;
        font-size: 2vw;
      }
}

@media only screen and (max-width:1024px)and (min-width:721px){
  .header{
    height: 15%;
  }
  .plunk{
    width: 50%;
  }
  .menudiv{
    height: 30%;
  }
  h2{
    margin-top:10%;
  }
  .Logo{
    width: 60%;
  }
  .logout{
    width: 60%;
    font-size: 2vw;
    font-weight: bold;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #acacac;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2d7166;
}

marquee.msg{
  font-family: sans-serif;

}
h4{
  color: rgb(240, 230, 230);
  margin-top: 0%;
}

#open{
    background-color: #000000;

    font-family: sans-serif;
    color: white;
    cursor: pointer;
    padding: 12px ;
    display: block;
}
