html,body{
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #dcdcdc;


}
.main{
  width:100%;
  height:100%;
  font-family: sans-serif;
/*  background-color: yellow;*/
}
.coverheader{
  width: 100%;
  height: 10%;
/*  background-color: grey;*/
}
.innerdiv{
  width: 100%;
  height: 10%;
/*  background-color: blue;*/
}
.tableheader{
  width: 30%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: none;
  margin-bottom: none;
  padding: none;
/*  background-color: green;*/
}
.covertable{
  width: 100%;
  height: 85%;
  padding-top: 20px;
  /*background-color: grey;*/
}
.upperbar{
  width: 100%;
  height: 12%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 20px;
/*background-color: yellow;*/
}
.detailtable{
  width: 99%;
  height: 83%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  border-color: #017a7a; /*#dcdcdc*/
  background-color: transparent;
  /* background-color: #017a7a;*/
 /*background-color: blue;*/
}
.table{
  width: 95%;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  border-color: #017a7a;
 background-color: #017a7a;
}
h2{
  font-size:2.5vw;
  color: #017a7a;
  text-align:center;
  vertical-align: baseline;
  line-height:3vw;
  margin-top: 0.5vw;
  padding: 0;
  margin-bottom: 0;
}
.search{
  float: left;
  margin-left: 1%;
  margin-top:0.5%;
  width: 20vw;
  height:2vw;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color:#dcdcdc;
  font-size: 1.5vw;
}

iframe{
width: 100%;
height: 100%;
border: none;
  /*background-color: red;*/
}
.replyboxcover{
  width: 100%;
  height: 75%;
  padding-top: 20px;
/* background-color: green;*/
}
.replybox,.replybox2 {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  border-color: #017a7a;
 background-color: white;
 padding-left:10px;
 padding-right: 10px;
 padding-top: 20px;
}
.replybox{
height: 90%;
}
.replybox2{
  height: 90%;
}
.feedbackform{
  width: 100%;
  height: 100%;
}
label{
  color: #333333;
  font-size: 2vw;
  float: left;

}
#today{
  font-size: 2vw;
  border: none;
}
.fblabel{
float: left;
}
.fbid{
  font-size: 2vw;
  border: none;
  text-align: left;
}
textarea{
  float: right;
  font-size: 1.5vw;
  width: 87%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border:2px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  padding-top: 5px;
}
.questions{
  /* background-color: red; */
  width: 50%;
  height: 40px;
  float: left;
}
.questions2{
  /* background-color: green; */
  width: 50%;
  height: 40px;
  float: right;
}
.labelbox{
  width: 100%;
  height: 30%;
  padding-bottom: 3%;
}
.labelbox2{
  width: 100%;
  height: 30%;
  padding-bottom: 1%;
}
.btnbox{
  width: 65%;
  height: 10%;
  padding-left: 35%;

}
.btn{
  margin-top: 10px;
  background-color: #017a7a;
  width: 20%;
  height:auto;
  border-radius: 50px;
  color:  #acacac;
  font-size: 1.5vw;
  transition-duration: 1s;


}
.btn:hover{
  background-color: #acacac;
  color:#017a7a;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #acacac;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #acacac;
}
a{
  text-decoration: none;
  color:black;
}
