html,body{
  width: 100%;
  height: 100%;
  margin: auto;
  /* background-color: #017a7a; */
  /* background-color: #03c9a9; */
 background-color:  #0b7fab;


}
.main{
  width:100%;
  height:100%;
  border-radius: 20px;
  font-family: sans-serif;
/*  background-color: yellow;*/
}

.detailtable{
  width: 99%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  border-color:  #0b7fab;
 background-color:  #0b7fab;
  /* border-color: #017a7a;
 background-color: #017a7a; */
 /* border-color: #03c9a9;
 background-color: #03c9a9; */
/*background-color: blue;*/
}

#membertable{
  width: 100%;
  text-align: center;
   color: #333333;
}
.tableth{
  width: 100%;
  height: 10%;
  position: fixed;
}
.headerrow{
  width: 100%;

}
table{
  border: none;
}
th{
  font-size: 3.5vw;
  border-collapse: collapse;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 1px;
  border-color:  #0b7fab;
  /* border-color: #017a7a; */
  /* border-color: #03c9a9; */
  background-color: white;
  text-align: center;
}
th:first-child,td:first-child{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
th:last-child,td:last-child{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
td{
  font-size: 3vw;
  border-collapse: collapse;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-width: 1px;
  /* border-color: #017a7a; */
  /* border-color: #03c9a9; */
  border-color:  #0b7fab;
  text-align: center;
}

a{
  text-decoration: none;
  border: none;
  color:black;
}
