::-webkit-input-placeholder{
    color: gray;
}
.body{
    background-image:url(../images/cricket.png);
     /* linear-gradient(to bottom right, #3e9157 ,#03a191 0.5%, #03ae60); */
  background-color: #0b7fab;
  }
.main{

      height:100%;
      width:100%;
  }


.left{


    width:50%;
    height:100%;
    border: 2px;
    border-radius: 20px;
    border-color:white;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.form{
    font-family: sans-serif;
    font-size: 1.5vw;
    display: block;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    background: rgb(300, 300, 300);
    max-width: 500px;
    height: auto;
    padding: 35px;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}

.form-group{
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
.formtable{
    margin-left: 5%;
    margin-right: 5%;
    display:block;
    width: 90%;
    table-layout: block;

}
.formtable td{
    vertical-align: top;
    width:50%;
    padding-bottom:8%;
}
textarea{
    width: 100%;
    height: 200px;
    outline: 0;
    line-height: 20px;
}
.center-text{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5vw;
  }

.bin{
    float: right;
    height: 40px;
    width:auto;
}
button.return{
    border:none;
    background-color: white !important;
    float: right;
}
.form-control2{
  font-size: 1.5vw;
  width:100%;
  height: auto;
  border-radius: 10px;

}
.form-control{
    font-size: 1.5vw;
    width:100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    text-align: center;
}
.form-control i {
	visibility: hidden;
	position: absolute;
	top: 10px;
	right: 5px;

}



.form-control small {

	position: absolute;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.label{
    display: block;
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: left;


 }

.input{

    outline: 0;

    width: 100%;
    border: 0;
    border-color:transparent;
    margin: 5% 0% 5%;
    font-size: 1.5vw;
    color: black;


}

.button{
    border-radius: 20px;
    font-size: 1.5vw;
    width: 130px;
    height:40px;
    border:0px;
    color: white;
    cursor: pointer;
    margin-top:5%;
    margin-left:10%;
    background-color: #0b7fab;
    opacity: 0.8;

  }

button:hover{
    opacity:1;
}
a{
    color: white;
    text-decoration: none;
  }
.addrowtable,table.addrowtable th, table.addrowtable td{
    border: 1px solid black;
}
