html, body{
  height: 95%;
  width:100%;
  margin: auto;
  background-color: #dcdcdc;
}
.main{
  width:100%;
  height: 100%;
  font-family: sans-serif;
     /* background-color: red; */
}
.mailheader{
  height: 3%;
}
h2{
  font-size: 2.5vw;
  text-align:center;
  color: #017a7a;
}

.middle2{
  width:100%;
  height: 100%;
}

a{
  text-decoration: none;
  color:black;
}
.btnlink{
  color: #acacac;
}
.btnlink:hover{
  color:#017a7a;
}

 .mainpage3{ /*for decision page */
   height: 95%;
   margin: none;
   padding: none;
   transition: 0.5s;
   border: none;
   /* background-color: green; */
}
.formbox{
  width: 50%;
  height: 90%;
  background-color: white;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: block;
  font-size: 1.5vw;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}
label{
  font-size: 1.5vw;
}
.input{
  width: 70%;
  font-size: 1.2vw;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 2px;
  border-color: black;
}
.forminputs{
  width: 90%;
  height: 70px;
 /* background-color: yellow; */


}
.forminput2{
  width: 100%;
  height: 20%;
  /* background-color: yellow; */
}
.msg{
  font-size: 1.2vw;
  margin-left: 7%;
  border-radius: 10px;
}
.formbtn{
  width: 50%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: yellow; */
}
.add{
  background-color: #017a7a;
  width: 45%;
  height:auto;
  border-radius: 50px;
  color:  #acacac;
  font-size: 1.5vw;
  transition-duration: 1s;
}
.add:hover{
  background-color: #acacac;
  color:#017a7a;
}
.success{
  background-color: green;
  padding: 10px;
  color: white;
  text-align: center;
}
.error{
  background-color: green;
  padding: 10px;
  color: white;
  text-align: center;
}

@media only screen and (max-width:720px) {
      .header{
        height: 10%;
      }
      .middle{
        height: 92%;
      }
      .menudiv{
        width: 30%;
        height: 45%;
      }
      h2{
        margin-top:7%;
      }
      .Logo{
        width: 60%;
      }
      .logout{
        height: 20%;
        width: 60%;
        font-size: 2vw;
      }
}

@media only screen and (max-width:1024px)and (min-width:721px){
  .header{
    height: 15%;
  }
  .plunk{
    width: 50%;
  }
  .menudiv{
    height: 30%;
  }
  h2{
    margin-top:10%;
  }
  .Logo{
    width: 60%;
  }
  .logout{
    width: 60%;
    font-size: 2vw;
    font-weight: bold;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #acacac;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2d7166;
}

marquee.msg{
  font-family: sans-serif;

}
h4{
  color:rgb(175, 207, 245);
  margin-top: 0%;
}

#open{
    background-color: #000000;

    font-family: sans-serif;
    color: white;
    cursor: pointer;
    padding: 12px ;
    display: block;
}
