html,body{
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #dcdcdc;


}
.main{
  width:100%;
  height:70%;
  padding-top: 10%;
/*  background-color: yellow;*/
}

.detailtable{
  width: 50%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  border-color: #0b7fab; /*#dcdcdc*/
 background-color: white;
/*background-color: blue;*/
}
h3{
  font-family: sans-serif;
  font-size: 2vw;
  color: #363535;
  text-align: center;
  line-height: 2vw;

}
h1{
  font-family: sans-serif;
  font-size: 4vw;
  color: #0b7fab;
  text-align: center;
  line-height: 4vw;
}
#Error{
  color: red;
}
#Error2{
  color: red;
  ine-height: 6vw;
  font-size: 5vw;
}
.btn{
  width: 20%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  display: block;
  border: none;

}
.btnstyle2, .btnstyle3{
  width: 20%;
  height: auto;
  display: block;
  border: none;
}
.btnstyle2{
  margin-right: 10%;
  margin-left: 25%;
  float:left;
}
.btnstyle3{
  margin-right: 25%;
  margin-left: auto;
  float:right;
}
button{
width: 100%;
font-size: 1.5vw;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 20px;
border-width: 3px;
border-color:#0b7fab;
background-color: #0b7fab;
color: white;
cursor: pointer;
}
a{
  text-decoration: none;
  color:black;
}
