html,body{
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #dcdcdc;


}
.main{
  width:100%;
  height:100%;
/*  background-color: yellow;*/
}
.coverheader{
  width: 100%;
  height: 10%;
/*  background-color: grey;*/
}
.innerdiv{
  width: 100%;
  height: 10%;
/*  background-color: blue;*/
}
.tableheader{
  width: 30%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: none;
  margin-bottom: none;
  padding: none;
/*  background-color: green;*/
}
.covertable{
  width: 100%;
  height: 87%;
  padding-top: 20px;
  /*background-color: grey;*/
}
.upperbar{
  width: 100%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 20px;
 /*background-color: red;*/
}
.detailtable{
  width: 99%;
  height: 88%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  border-color: #017a7a; /*#dcdcdc*/
  background-color: #017a7a;
/*background-color: blue;*/
}
.table{
  width: 95%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-style: solid;
  border-width: none;
  border-radius: 20px;
  border-color: transparent;
 background-color: #017a7a;
}
h2{
  font-size:2.5vw;
  color: #017a7a;
  text-align:center;
  vertical-align: baseline;
  line-height:3vw;
  margin-top: 0.5vw;
  padding: 0;
  margin-bottom: 0;
}



#membertable{
  width: 100%;
  text-align: center;
   color: #333333;
}
th{
  font-size: 1vw;
  border-collapse: collapse;
  margin-bottom: 30px;
  border-style: solid;
  border-width: none;
  border-color: #017a7a;
  background-color: #ffffff;
}
th:first-child,td:first-child{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
th:last-child,td:last-child{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
td{
  font-size: 1vw;
  border-collapse: collapse;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #017a7a;
  
}
iframe{
width: 100%;
height: 100%;
border: none;
/*background-color: red;*/
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #acacac;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #acacac;
}


