html, body{
  background-image:transperant;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #dcdcdc;
}

.main{
  width: 92%;
  height:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  font-family: sans-serif;
 /*background-color: yellow;*/
}
.header{
  width: 60%;
  height: 12%;
  margin-left: auto;
  margin-right: auto;
}
.upperrow{
  width: 100%;
  height: 2%;
}
h2{
  color: #017a7a;
  font-size: 2.5vw;
  text-align: center;
  line-height: 2.5vw;
}
.addbooking{
  width: 55%;
  height: auto;
  float: left;
  margin-left: none;
  margin-right: auto;
  display: block;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
  border-radius: 20px;
/*  background-color: #cccccc;*/
   background-color: white;
  color: Black;
  font-family: sans-serif;
  font-size: 1.7vw;
}
.addbookingtwo{
  width: 55%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
  border-radius: 20px;
/*  background-color: #cccccc;*/
   background-color: white;
  color: Black;
  font-family: sans-serif;
  font-size: 1.7vw;
}
.headerrow{
  width: 100%;
  height:50px;

}
.bin{
  width: 7%;
  height: 100%;
  float: right;

}
.binicon{
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  display:block;

}
.submain{
  width: 100%;
  height:auto;
/*background-color: blue;*/
}

.questions{
  width: 100%;
  height: 20%;
  margin-left: auto;
  margin-right:auto;
  /*background-color: red;*/

}
.specialquestions{
  width: 50%;
  height: 20%;
  margin-left: auto;
  margin-right:auto;
}
.qtype1,.qtype2,.qtype3{
  width: 74%;
  font-size: 1.5vw;
  border-top: 0;
  border-bottom-width: 2px;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: #6c757d;
  color:#495057;
  background-color: transparent;
}

.bookingid{
  width: 30%;
  font-size: 1.5vw;
  border: none;
  background-color: transparent;
}
.type{
  width: 20%;
  font-size: 1.5vw;
  border: none;
  background-color: transparent;
}
.qtype1{
  float: right;
}
.qtype2{
  width: 25%;
  float: right;
}
.qtype3{
  width: 45%;
}
.bookingiddiv{
  float: left;
  width: 50%;
  height: 20%;
}
.reservedtime{
  float: left;
  width: 55%;
  height: 20%;
}
select{
  width: 74%;
  font-size: 1.5vw;
  text-align: center;
  float:right;
}
.line3{
  width: 50%;
  height: 20%;

  margin-left: auto;
  margin-right: auto;
  display: block;
/*background-color: brown;*/
}
.add{
  background-color: #017a7a;
  width: 49%;
  height:auto;
  border-radius: 50px;
  color:  #acacac;
  font-size: 2vw;
  transition-duration: 1s;
  cursor: pointer;
  opacity: 0.8;
}
.add:hover, .addlink:hover{
  opacity: 1;
}
#reset{
  float: right;
}
.Payment{
  background-color: #ce0047;
  opacity: 0.8;
  width:  49%;
  height:auto;
  margin-top: 5px;
  border-radius: 50px;
  color:  #acacac;
  font-size: 2vw;
  transition-duration: 0.5s;
  cursor: pointer;
}
.Payment:hover{
  opacity: 1;

}
/* For delete.php file */
.qtype4,.qtype5,.qtype6{
  width: 74%;
  font-size: 1.5vw;
  border: none;
  color:#495057;
  background-color: transparent;
}

.bookingid{
  width: 30%;
  font-size: 1.5vw;
  border: none;
  background-color: transparent;
}
.qtype4{
  float: right;
}
.qtype5{
  width: 25%;
  float: right;
}
.qtype6{
  width: 48%;
}
.resevationtable{
 float:right;
 width: 35%;
 height: auto;
 border-radius: 10px;
 background-color:#017a7a;
color: Black;
font-family: sans-serif;


}
.ReservationMenu{
  text-align: center;
  color: white;
  font-size: 2vw;
}
#table{
  width: 95%;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
th{
  font-size: 1.5vw;
  border-collapse: collapse;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #017a7a;
  background-color: white;
  text-align: center;
}
th:first-child,td:first-child{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
th:last-child,td:last-child{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
td{
  font-size: 1.2vw;
  border-collapse: collapse;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #017a7a;
  text-align: center;
  cursor: pointer;
}
a{
  text-decoration: none;
  color:  #acacac;
}
.msg{
  width: 55%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  display: block;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 20px;
   background-color: white;
  font-family: sans-serif;

}
.unablemsg{
  color: red;
  text-align: center;
  /* font-size: 3vw; */
}
@media only screen and (max-width: 720px) {
  /* For mobile phones: */
  .main {
    width: 80%;
  }
  .adduser{
    font-size: 5vw;
    padding-top: 6%;
  }
  input{
    font-size: 5vw;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #acacac;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2d7166;
}
a{
  text-decoration: none;

}
