
.buttongroup{
  width: 100%;
  height: 100%;
  /*background-color:#2d7166;*/
}

.navbar{
  width: 10%;
  height: 100%;


}
.buttongroup #dropbtn{
  display: block;
/*  background-color:#006666;*/
    background-color: #017a7a;
  font-family: sans-serif;
  font-size: 10vw;
  color: white;
  width: 100%;
  height: 40%;
  padding: 8px;
  cursor: pointer;
  text-align: left;
  border-radius: 10px;
  /* border-width:thick;
  border-color: linear-gradient( to left,rgb(53, 115, 119),rgb(27, 216, 230)); */

}

.dropdown-container {
  display: none;
  background-color: transparent;
  width: 100%;
  
  /*padding-left: 10%;*/
}

.linkbutton{
  color: white;
  text-decoration: none;
  font-size: 8vw;
  
}
.linkbutton:hover{
  color: rgb(240, 230, 230);

}
#open{
    background-color: #000000;
    border-color: #017a7a;
    font-family: sans-serif;
    font-size: 8vw;
    color: white;
    width: 100%;
    height: 40%;
    padding: 8px;
    cursor: pointer;
    text-align: left;
    border-radius: 10px; 
}

.dropdown-container .subbutton{
  display: block;
  background-color: #acacac;
/*  background-color: #f2cf27;*/
  /*background-color:#ffdf45;*/
  font-family: sans-serif;
  font-size: 8vw;
  color: #017a7a;
  width: 100%;
  height: 40%;
  padding: 5px;
  cursor: pointer;
  text-align: left;
  /*border-radius: 10px;
  border-width:thick;
  border-color: linear-gradient( to left,rgb(53, 115, 119),rgb(27, 216, 230));*/
}
.dropdown-container a{
  color: #017a7a;
  text-decoration: none;
}

.dropdown-container a:hover{
  color: #000000;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #acacac;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2d7166;
}
a{
  text-decoration: none;
  color:black;
}

/* Tooltip container */
.linkbutton{
  position: relative;
  display:inline-block;
  border-bottom: 1px dotted black; 
}

/* Tooltip text */
.linkbutton .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 0 5px;
  border-radius: 6px;
  font-size: 7vw;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-left: -20px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.linkbutton .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.linkbutton:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}