<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Order</title>
</head>
<body>
    add order here
    <form action="../../controller/CRUD.php" method="post">
        <input name ="add-order" type="hidden" >
        <input name ="Order_ID" id="Order_ID" type="text" placeholder="Enter Order ID" >
        <input name ="Order_Place" id="Order_Place" type="text" placeholder="Enter Order Place" >
        <input name ="Quantity" id="Quantity" type="number" placeholder="Enter Quantity" >
        <input name ="Member_ID" id="Member_ID" type="text" placeholder="Enter Member_ID" >
        <input name ="Staff_ID" id="Staff_ID" type="hidden" value="C0001" >
        <button type="submit">Add</button>
    </form>
</body>
</html>