<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/usernavbtn.css">
        <!-- <link rel="stylesheet" href="../style/tooltips.css"> -->
        <script type="text/javascript" src="../script/usernavbtn.js"> </script>
        <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>


  </head>
  <body>

    <div class="">
      <div class="buttongroup" id="buttonset">
                <button type="button" id="dropbtn" name="home"> <a href="../Dashboards/rmDashboard.php" class="linkbutton" target="Pages">
                  <box-icon name='home-alt-2' type='solid' animation='tada' color='#ffffff' ></box-icon>&nbsp;Home<span class="tooltiptext">Go to the home page</span></a></button>
                <button type="button" id="dropbtn" name="Items"> <a href="../items/itemspage.php" class="linkbutton" target="Pages">
                  <box-icon name='food-menu' type='solid' animation='tada' flip='horizontal' color='#ffffff' ></box-icon>&nbsp;Restaurant<span class="tooltiptext">See the restaurant menu details</span> Menu</a></button>
                <button type="button" id="dropbtn" name="GRN"> <a href="../grn/grnpage.php" class="linkbutton" target="Pages">
                  <box-icon name='edit' type='solid' animation='tada' flip='horizontal' color='#ffffff' ></box-icon>&nbsp;GRN<span class="tooltiptext">See the grn details</span></a></button>
                <button type="button" id="dropbtn" name="Notifications"> <a href="../notifications/notificationpage.php" class="linkbutton" target="Pages">
                  <box-icon name='bell' type='solid' animation='tada' flip='horizontal' color='#ffffff' ></box-icon>&nbsp;Notifications<span class="tooltiptext">See the notification details</span></a></button>
                <button type="button"  id="dropbtn" name="Reservationmenu"><a href="../reservationmenu/reservationmenupage.php" class="linkbutton" target="Pages">
                  <box-icon name='food-menu' animation='tada' color='#ffffff' ></box-icon>&nbsp;Booking <span class="tooltiptext">See the booking menu details</span>Menu</a></button>
                <button type="button"  id="dropbtn" name="Report"><a href="../report/reportpage.php" class="linkbutton" target="Pages">
                  <box-icon name='report' type='solid' animation='tada' flip='horizontal' color='#ffffff' ></box-icon> &nbsp;Report<span class="tooltiptext">Generate reports</span></a> </button>
                <button type="button"  id="dropbtn" name="Leave"><a href="../leave/leavepage.php" class="linkbutton" target="Pages">
                  <box-icon name='envelope' type='solid' animation='tada' color='#ffffff' ></box-icon> &nbsp;Leave <span class="tooltiptext">See the leave details</span></a></button>
                <button type="submit"  id="open" name="open"><a href="changeresstatus.php"  class="linkbutton" target="Pages">
                  <box-icon name='message-rounded-edit' type='solid' animation='tada' color='#ffffff' ></box-icon>&nbsp;Restaurant Status<span class="tooltiptext">Open/close the restaurant</span></a></button>




            </div>

    </div>
  </body>
</html>
