<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/usernavbtn.css">
        <script type="text/javascript" src="../script/usernavbtn.js"> </script>

  </head>
  <body>

    <div class="">
            <div class="buttongroup" id="buttonset">
                <button type="button" id="dropbtn" name="home"> <a href="../Dashboards/rmDashboard.html" class="linkbutton" target="Pages">Home</a></button>
                <button type="button" class="button" id="dropbtn" name="Items" onclick="drop()"> Items </button>
                    <div class="dropdown-container">
                          <button type="button" class="subbutton" name="Add Item"><a href="../items/additems.html" target="Pages" ><b> Add  </b></a></button>
                          <button type="button" class="subbutton" name="Update Item"><a href="#" ><b>Update  </b></a></button>
                          <button type="button" class="subbutton" name="Delete Item"><a href="../items/deleteitems.html" target="Pages"><b>Delete </b></a></button>
                          <button type="button" class="subbutton" name="Delete Item"><a href="#" ><b>Search </b></a></button>
                    </div>
                <button type="button" class="button" id="dropbtn" name="GRN" onclick="drop()"> GRN </button>
                    <div class="dropdown-container">
                          <button type="button" class="subbutton" name="Add GRN"><a href="#" ><b> Add </b></a></button>
                          <button type="button" class="subbutton" name="Return GRN"><a href="#" ><b>Return </b></a></button>
                    </div>
                <button type="button" class="button" id="dropbtn" name="Notifications" onclick="drop()"> Notifications </button>
                    <div class="dropdown-container">
                          <button type="button" class="subbutton" name="Add Note"><a href="#" ><b> Add </b></a></button>
                          <button type="button" class="subbutton" name="Update Note"><a href="#" ><b>Update </b></a></button>
                          <button type="button" class="subbutton" name="Delete Note"><a href="#" ><b>Delete </b></a></button>
                          <button type="button" class="subbutton" name="Search Note"><a href="#" ><b>Search </b></a></button>
                    </div>
                <button type="button"  id="dropbtn" name="Report"> Report </button>
                <button type="button"  id="dropbtn" name="Forum"> Leave </button> <br><br><br><br><br><br>


            </div>
    </div>
  </body>
</html>
