<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1">
        <link rel="icon" type="icon" href="../images/bloomfieldlogo.png" sizes="32*32">
        <link rel="stylesheet" href="../style/pages.css">



  </head>
    <body>
        <div class="main">
          <div class="upper">
                <div class="items">
                    <h1>GRN</h1>
                    <button type="buttonadd"  id="buttonadd" class = "buttonadd" name="add"><a href="../grn/addgrn.html" target="Pages">+</a></button>
                </div>
          </div>


          </div>


        </div>
    </body>
</html>
