<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="icon" href="images/bloomfieldlogo.png" sizes="32*32">
        <link rel="stylesheet" href="style/adduser.css">

  </head>
  <body>
        <header>
              <img class="plunk" src="images/projectlogo.png" alt="plunk logo">
        </header>

        <main>
              <img class="Bloomfield" src="images/bloomfieldlogo.png" alt="Bloomfield Logo">
              <h1>Bloomfield C. & A.C.  </h1>
              <div class="login">
              <button class = "button" ><a href="login.html" class="loginlink"><b>Login</b></a></button>
              </div>
        </main>

  </body>
</html>
