<html>
<head>
    <title >Plunk - Bloom Field Cricket Club</title>
    <link rel = "icon" href = "images/logo2.png">
    <link rel="stylesheet" href="includes/firstpage.css">
</head>

<body> 
    <img src="images/Picture1.jpg" alt="bloomfieldlogo" class="centerimage">   
    <div class="centered">Bloom Field Cricket Club</div>
    <div class="address">Bloom Field C. & A.C. , Colombo 07 | bloomfield@email.com | 0112384567</div>
    <a href="Login.html"><button class = "btn login"><b>Login</b></button></a>
    <marquee >Plunk</marquee>	
    
</body>
</html>