<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="icon" href="images/bloomfieldlogo.png" sizes="32*32">
        <link rel="stylesheet" href="style/generalmanager.css">

  </head>
  <body>
        <header>
              <img class="plunk" src="images/projectlogo.png" alt="plunk logo">
              <h2>General Manager</h2>
        </header>

        <div class="buttongroup">
            <button type="button" class="button" name="user"><a href="#" class="linkbutton"> User </a></button>
            <button type="button" class="button" name="Booking"><a href="#" class="linkbutton"> Booking </a></button>
            <button type="button" class="button" name="Payment"><a href="#" class="linkbutton"> Payment </a></button>
            <button type="button" class="button" name="Report"><a href="#" class="linkbutton"> Report </a></button>
            <button type="button" class="button" name="Leave"><a href="#" class="linkbutton"> Leave </a></button>

        </div>


  </body>
</html>
