<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="icon" href="images/bloomfieldlogo.png" sizes="32*32">
        <link rel="stylesheet" href="style/generalmanager.css">


  </head>
  <body>
    <div class="upper">

        <header>
              <img class="plunk" src="images/projectlogo.png" alt="plunk logo"><br>
              <img class="Logo" src="images/bloomfieldlogo.png" alt="Bloomfield Logo">
              <h2>Bloomfield C. & A.C.</h2><br>
              <button type="button" name="Menu" class="Menu" onclick="document.getElementById('buttonset').style.display='none'">M e</button>
              <button type="button" name="Menu" class="Menu" id="show" onclick="document.getElementById('buttonset').style.display='block'">n u</button>

              <h3>General Manager</h3>

        </header>
    </div>
    <div class="">


            <div class="buttongroup" id="buttonset">
                <button type="button" class="button" name="user"><a href="#" class="linkbutton"> User </a></button>
                <button type="button" class="button" name="Booking"><a href="#" class="linkbutton"> Booking </a></button>
                <button type="button" class="button" name="Payment"><a href="#" class="linkbutton"> Payment </a></button>
                <button type="button" class="button" name="Report"><a href="#" class="linkbutton"> Report </a></button>
                <button type="button" class="button" name="Leave"><a href="#" class="linkbutton"> Leave </a></button>
                <button type="button" class="button" name="GRN"><a href="#" class="linkbutton"> GRN </a></button>
                <button type="button" class="button" name="Forum"><a href="#" class="linkbutton"> Forum </a></button> <br><br><br><br><br><br><br><br>
                <button type="button" class="button" name="Log out"><a href="cover.html" class="linkbutton"> Log out </a></button>

            </div>

      <div class="main">


      </div>

    </div>
  </body>
</html>
