<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
          <meta charset="utf-8">
          <title>Bloomfield</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="icon" type="icon" href="images/bloomfieldlogo.png" sizes="32*32">
          <link rel="stylesheet" href="style/login.css">
  </head>
  <body>

    <header>
          <img class="plunk" src="images/projectlogo.png" alt="plunk logo">
          <img class="Logo" src="images/bloomfieldlogo.png" alt="Bloomfield Logo">
    </header>

    <form id="form" class="form" method="POST" action="../controller/checkLogin.php">

      <img class="Logo2" src="../view/images/bloomfieldlogo.png" alt="Bloomfield Logo">
		
      <p><br></p>

          <div class="form-control">
                <label for="UserID"><b>User ID</b></label>
                <input name ="UserID" id="UserID" type="text" placeholder="Enter Your user ID" >
                <hr>
                <small>Error message</small>
          </div>

          <div class="form-control">
                <label for="password"><b>Password</b></label>
                <input name="password" id="password" type="password" placeholder="Enter Your password" >
                <hr>
            		<small>Error message</small>
          </div>

        <button class = "button login">Login</button>
        <button class = "buttonforgot">Forgot Password</button>

    </form>

  </body>
</html>
