<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bloomfield</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="icon" href="images/bloomfieldlogo.png" sizes="32*32">
    <link rel="stylesheet" href="login.css">
  </head>
  <body>
    <header>
      <img class="plunk" src="images/projectlogo.png" alt="plunk logo">
    </header>
    <form id="form" class="form">
        <p><b>Login Form</b></p>
        <div class="UserID">
          <div class="form-control">
        <label for="UserID">User ID</label>
        <input id="UserID" type="text" placeholder="Enter Your user ID" required>
        <hr>
        <small>Error message</small>
      </div>

        <div class="form-control">
        <label for="password">Password</label>
        <input id="password"type="password" placeholder="Enter Your password" required>
        <hr>
    		<small>Error message</small>
        </div>
        <a href="firstpage.html"><button class = "button login"><b>Login</b></button></a>
        <a href="firstpage.html"><button class = "button forgot"><b>forgot password</b></button></a>

    </form>

  </body>
</html>
