<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title >Plunk -loginpage</title>
	<link rel = "icon" href = "images/logo2.png">
    <link rel="stylesheet" href="includes/login.css">
</head>    
<body>

<form id="form" class="form">
    <p><b>Login Form</b></p>
    <div class="UserID">
      <div class="form-control">
    <label for="UserID">User ID</label>
    <input id="UserID" type="text" placeholder="Enter Your user ID" required>
    <hr>
    <small>Error message</small>
  </div>
      
    <div class="form-control">
    <label for="password">Password</label>
    <input id="password"type="password" placeholder="Enter Your password" required>
    <hr>
		<small>Error message</small>
    </div>
    <a href="firstpage.html"><button class = "button login"><b>Login</b></button></a>
    <a href="firstpage.html"><button class = "button forgot"><b>forgot password</b></button></a>
    
</form>
<marquee >Plunk- This is login page</marquee>	
<script src ="includes/login.js"></script>
</body>
</html>

