<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bloomfield</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="icon" href="bloomfieldlogo.png" sizes="32*32">
    <link rel="stylesheet" href="plunk1st.css">
  </head>
  <body>
    <header>
      <img class="plunk" src="projectlogo.png" alt="plunk logo">
    </header>
    <main>
      <img class="Bloomfield" src="bloomfieldlogo.png" alt="Bloomfield Logo">
      <h1>Bloomfield C. & A.C.  </h1>
      <a href="#"><button class = "button"><b>Login</b></button></a>
    </main>

  </body>
</html>
