<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

        <meta charset="utf-8">
        <title>Bloomfield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style/usernavbtn.css">


  </head>
  <body>

    <div class="">


            <div class="buttongroup" id="buttonset">
                <button type="button" id="dropbtn" name="user"> <a href="#"  class="linkbutton" >Home</a> </button>
                <button type="button" class="button" id="dropbtn" name="Items"> Items </button>
                    <div class="dropdown-container">
                          <button type="button" class="subbutton" name="Add Items"><a href="#" target="Pages" ><b> Add  </b></a></button>
                          <button type="button" class="subbutton" name="Update Items"><a href="#" ><b>Update  </b></a></button>
                          <button type="button" class="subbutton" name="Delete Items"><a href="#" ><b>Delete </b></a></button>
                          <button type="button" class="subbutton" name="Search Items"><a href="#" ><b>Search </b></a></button>
                    </div>
                <button type="button" class="button" id="dropbtn" name="GRN"> GRN </button>
                    <div class="dropdown-container">
                          <button type="button" class="subbutton" name="Add GRN"><a href="#" ><b> Add </b></a></button>
                          <button type="button" class="subbutton" name="Return GRN"><a href="#" ><b>Return </b></a></button>
                    </div>
                <button type="button" class="button" id="dropbtn" name="Notifications"> Notifications </button>
                    <div class="dropdown-container">
                          <button type="button" class="subbutton" name="Add Note"><a href="#" ><b> Add </b></a></button>
                          <button type="button" class="subbutton" name="Update Note"><a href="#" ><b>Update </b></a></button>
                          <button type="button" class="subbutton" name="Delete Note"><a href="#" ><b>Delete </b></a></button>
                          <button type="button" class="subbutton" name="Search Note"><a href="#" ><b>Search </b></a></button>
                    </div>
                <button type="button"  id="dropbtn" name="Report"> Report </button>
                <button type="button"  id="dropbtn" name="Forum"> Forum </button> <br><br><br><br><br><br>


            </div>

            <script type="text/javascript">

                  var dropdown = document.getElementsByClassName("button");
                  var i;

                  for (i = 0; i < dropdown.length; i++) {
                    dropdown[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                    } else {
                    dropdownContent.style.display = "block";
                    }
                    });
                  }

            </script>

    </div>
  </body>
</html>
